src/main/mule/employeeinformation125.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="48d3c36c-db39-4096-831a-dcc0b44e956f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2a5e01a7-657c-4bfa-8a77-8535b196e2ec" basePath="${Request.basepath}" >
		<http:request-connection host="${Request.host}" />
	</http:request-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="30b868ac-e01b-4e17-a6d6-df951091d135" >
		<db:my-sql-connection host="${Database.host}" port="${Database.port}" user="${Database.user}" password="Kailasha@123" database="${Database.database}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="9c5263d8-d037-47e2-ab20-cf178f92d390" file="config.yaml" />
	<flow name="getEmployee" doc:id="3a1cf1ea-3290-4cc4-8717-ad0a99befe88" >
		<http:request method="GET" doc:name="Request" doc:id="705a29e4-9a9a-44d1-a38b-ee882a06cdcf" config-ref="HTTP_Request_configuration" path="${Request.path}"/>
		<ee:transform doc:name="Transform Message" doc:id="7ad8fdae-01f1-4df7-a9cd-06ab93cd50eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data map {
	'ID': $.id,
	'name': $.employee_name,
	'salary': $.employee_salary,
	'age': $.employee_age
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="495a381a-50d7-4f60-ba88-3da481a6c3b4" config-ref="Database_Config">
							<db:sql>INSERT INTO EmployeeData( id, employee_name, employee_salary, employee_age) VALUES (:ID, :name, :salary, :age);</db:sql>
						</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="aa9f2b5b-dfb6-4c1f-8590-9dad12e4ce7c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<sub-flow name="insert" doc:id="a518e6ef-3408-4f65-840f-632661c62175" >
		<db:insert doc:name="Insert" doc:id="42878ac9-f1d1-4442-9cc2-cfaa45c32155" config-ref="Database_Config">
			<db:sql >INSERT INTO EmployeeData( id, employee_name, employee_salary,
employee_age) 
VALUES (:ID, :name, :salary, :age);</db:sql>
			<db:input-parameters ><![CDATA[#[{

	'ID': payload.id,
	'name': payload.employee_name,
	'salary': payload.employee_salary,
	'age': payload.employee_age
	
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="418a8430-3588-4aad-a1c9-ab1f48d25c09" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="getemployeebyID" doc:id="4e126038-8d0f-48fe-a0a3-979bfb112ed1" >
		<db:select doc:name="Select" doc:id="0cd4dbde-1003-4b3f-b02c-e8490cc0d6e9" config-ref="Database_Config">
			<db:sql >select * from EmployeeData where Id = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID':vars.data}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="95a6a9ea-34d2-4ef4-a0a7-74f8bf345022" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
